// $colors: (
//   "dark": #111111,
//   "light": #ffffff,
//   "primary": rgb(226, 146, 27),
//   "secondary": rgb(0, 166, 255),
// );
// $prefix: "gieter";
// $color-type: "hsla";
// $color-shades: true;
// $color-props: true;

// $color-type: "hsla";
// $color-text: true;
// $shades: ((10, 30, 60, 90));

// @import "@sil/sass-utils/index.scss";

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

:root[color-mode="dark"] {
  color-scheme: dark;
  content: "[DARKMODE]";
}
:root[color-mode="light"] {
  color-scheme: light;
  content: "[LIGHTMODE]";
}

@media (prefers-color-scheme: dark) {
  :root:not([color-mode]) {
    color-scheme: dark;
    content: "[DARKMODE]";
  }
}

@media (prefers-color-scheme: light) {
  :root:not([color-mode]) {
    color-scheme: light;
    content: "[LIGHTMODE]";
  }
}
