.content {
  padding: 0;

  > :first-child {
    margin-top: 0;
  }

  hr {
    margin: var(--space-xxl) 0;
    color: var(--color-foreground-10);
    background-color: var(--color-foreground-10);
    border: none;
    height: var(--border-width-s);
  }

  dl {
    dt {
      font-weight: bold;
    }
    dd {
      margin-top: var(--space-xs);
    }
  }

  svg {
    rect,
    path,
    circle {
      &:not([fill]) {
        &:not([style]) {
          &:not([class]) {
            fill: currentColor;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: var(--border-width-s) solid currentColor;
  }

  * {
    margin: 0;
    margin-top: 1em;
  }

  p:first-of-type:has(+ p) {
    font-size: var(--font-size-lead);
    line-height: 1.4;
    max-width: var(--content-lead-width, 42ch);
  }

  p {
    max-width: var(--content-copy-width, 72ch);
    opacity: 0.78;
  }

  h1 + p,
  h1 + figure + p {
    margin-top: var(--content-inline-gap, var(--space-l));
  }

  h2,
  h3,
  h4 {
    margin-top: var(--space-xl);
  }

  h6 {
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5 {
      margin-top: 0;
    }
  }

  // Break Out of content
  img {
    max-width: 100%;
    margin-left: 0;
    border-radius: 0;
  }

  h1 {
    margin: 0;
  }

  pre {
    margin-left: 0;
    margin-right: 0;
    overflow: auto;
  }

  blockquote {
    margin-left: 0;
    padding-left: var(--space);
    border-left: var(--border-width-m) solid var(--color-foreground);
  }
}
