.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-background);
  border-bottom: var(--border-width-s) solid var(--color-foreground-10);

  &__container {
    width: min(100%, var(--layout-width));
    margin: 0 auto;
    padding: var(--header-padding-y, var(--space-s))
      var(--header-padding-x, var(--space));
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-foreground);
    gap: var(--header-gap, var(--space-l));

    @media screen and (max-width: 720px) {
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}
