main .section .container {
  width: min(100%, var(--layout-width));
  margin: 0 auto;
  padding: 0 var(--space);
}

main .section {
  padding: var(--space-xxl) 0;
  background-color: var(--section-background-color, transparent);
  color: var(--section-text-color, currentColor);
}

.content {
  max-width: var(--content-width);
  margin: 0 auto;
}

main .section.archive .container,
main .section.tags .container {
  width: min(100%, var(--layout-width));
}

.page-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}
