:root {
  --spacing: clamp(0.95rem, 0.7rem + 0.9vw, 1.25rem);
  --space: var(--spacing);
  --space-xxs: calc(var(--space) * 0.25);
  --space-xs: calc(var(--space) * 0.5);
  --space-s: calc(var(--space) * 0.75);
  --space-l: calc(var(--space) * 1.5);
  --space-xl: calc(var(--space) * 2.5);
  --space-xxl: calc(var(--space) * 4);

  --font-size: 1.0625rem;
  --font-size-xs: calc(var(--font-size) * 0.75);
  --font-size-s: calc(var(--font-size) * 0.875);
  --font-size-l: calc(var(--font-size) * 1.125);
  --font-size-xl: calc(var(--font-size) * 1.35);
  --font-size-xxl: calc(var(--font-size) * 2.4);
  --font-size-xxxl: calc(var(--font-size) * 4.5);
  --font-size-lead: calc(var(--font-size) * 1.4);

  --border-radius: 0.375rem;
  --border-radius-s: calc(var(--border-radius) * 0.5);
  --border-radius-m: var(--border-radius);
  --border-radius-l: calc(var(--border-radius) * 2);
  --border-radius-round: 999px;

  --border-width: 1px;
  --border-width-s: var(--border-width);
  --border-width-m: calc(var(--border-width) * 2);

  --layout-width: calc(var(--font-size) * 82);
  --content-width: 72ch;
}
