.task-list {
  list-style-type:none;
  margin:0; padding:0;
  &__item {
  }
  &__label {
    align-items: center;
    display: flex;
    &::before {
      content: "";
      display: block;
      width: 1.5em;
      height: 1.5em;
      border-radius: var(--border-radius-round);
      border: var(--border-width-m) solid
        color-mix(in srgb, var(--color-foreground) 25%, transparent);
      margin: var(--space-s);
      text-align: center; line-height: 1.5em;
    }
  }
  &__input {
    width: 0;
    height: 0;
    position: absolute;
    &:checked ~ .task-list__label::before{
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-primary-contrast);
        content: "\2713"
    }
  }
}
